.estimation {
	width: 2.5em;
	display: inline-block;
	border-radius: 2px;
	padding: 2px 4px;
	text-align: center;
}

.max {
	background-color: #69f;
}

.min {
	background-color: #99f;
}

.max.min {
	background-color: transparent;
}

/*
 * While the team's estimation is incomplete, the estimation
 * values are completely hidden by default
 */
.incomplete .estimation {
	color: transparent;
}

/*
 * While the team's estimation is incomplete, received estimation
 * values are shown in an unreadably teaser style
 */
.incomplete .estimated {
	color: #666;
	background-color: #666;
}

.et-display {
	cursor: pointer;
}

.et-label,
.et-hint {
	border-bottom: 1px dotted #333;
}

.et-label:hover,
.et-hint:hover {
	background-color: #ff9;
}

.estimationSelect .active {
	color: #fff;
	background-color: #ff9840;
}

.localUser .username {
	margin-right: 1em;
	display: inline-block;
}

.localUser .username,
.localUser .btn {
	margin-bottom: 0.4em;
}

.storyTitle .et-form {
	display: block;
}

.storyTitle .et-form input {
	width: 80%;
}
