/*--------------------------------------*\
	#Logo
\*--------------------------------------*/

.logo {
	width: 1em;
	margin-right: 0.2em;
	height: auto;
	float: left;
}

.logo__card-1 { fill:#2acaff; }
.logo__card-2 { fill:#ff762b; }
.logo__card-3 { fill:#0086b2; }


/*--------------------------------------*\
	#Estimations
\*--------------------------------------*/

/*
 * Remote users that haven't set their name yet
 */
.name--default {
	font-style: italic;
	color: #555;
}


.card {
    width: 2em;
    height: 3em;
    border: 0.2em solid #aaa;
    border-radius: 0.2em;
    background: #fefefe;
    margin-right: 2em;
}

/*
 * Individual border colors for the different card values
 * (the hex value is a lazy uniform fallback, modern browsers will pick up
 * the hsl values).
 */
.card--0   { border-color: #0086b2; border-color: hsl(195, 20%, 40%); }
.card--1   { border-color: #0086b2; border-color: hsl( 21, 40%, 60%); }
.card--2   { border-color: #0086b2; border-color: hsl(195, 60%, 40%); }
.card--3   { border-color: #0086b2; border-color: hsl( 21, 80%, 60%); }
.card--5   { border-color: #0086b2; border-color: hsl(195, 99%, 40%); }
.card--8   { border-color: #0086b2; border-color: hsl( 21, 20%, 40%); }
.card--13  { border-color: #0086b2; border-color: hsl(195, 40%, 60%); }
.card--20  { border-color: #0086b2; border-color: hsl( 21, 60%, 40%); }
.card--40  { border-color: #0086b2; border-color: hsl(195, 80%, 60%); }
.card--100 { border-color: #0086b2; border-color: hsl( 21, 99%, 40%); }

.card__number {
    line-height: 2.6em;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: bold;
}

/*
 * Different states that a card can be in:
 *   - unplayed: the user has not estimated a value yet
 *   - incomplete: the user has estimated, but other team members haven't
 *   - complete: all users have estimated
 */

.card--unplayed {
	visibility: hidden;
}

.estimations--incomplete .card {
    border-color: #DDD;
    background: #DDD;
}
.estimations--incomplete .card__number {
    display: none;
}

.estimations--incomplete .summary__card {
	visibility: hidden;
}

/*
 * Highlight the highest and lowest card (but not if they are equal)
 */

.card--min .card__number:after,
.card--max .card__number:after
{
    display: block;
    margin-top: -2.8em;
    margin-left: 2em;
    color: #f00;
    font-weight: normal;
}
.card--min .card__number:after {
    content: "←min";
}

.card--max .card__number:after {
    content: "←max";
}

.card--min.card--max .card__number:after{
	display: none;
}


/*
 * Drop shadow for the cards
 * http://nicolasgallagher.com/css-drop-shadows-without-images/
 */

.card {
  position: relative;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.1em;
  left: 0.05em;
  width: 90%;
  height: 20%;
  max-width: 300px;
  box-shadow :0 0.35em 0.3em rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
}

.card:after{
  right: 0.05em;
  left: auto;
  transform: rotate(3deg);
}


/*--------------------------------------*\
	#EditableText
\*--------------------------------------*/

.et-display {
	cursor: pointer;
}

.et-label,
.et-hint {
	border-bottom: 1px dotted #333;
}

.et-label:hover,
.et-hint:hover {
	background-color: #f5f5f5;
}

.et-form .btn {
	background-color: #0086b2;
}


/*--------------------------------------*\
	#EstimationSelect
\*--------------------------------------*/

.estimation-select .active {
	color: #fff;
	background-color: #0086B2;
}

.local-user .username {
	margin-right: 1em;
	display: inline-block;
}

.local-user .username,
.local-user .btn {
	margin-bottom: 0.4em;
}

.story-title .et-form {
	display: block;
}

.story-title .et-form input {
	width: 80%;
}


/*--------------------------------------*\
	#Alerts
\*--------------------------------------*/

.alerts {
	margin-top: 1em;
}


/*--------------------------------------*\
	#Tutorial
\*--------------------------------------*/

.tutorial a {
	color: #333;
}

.tutorial__qrcode {
	margin: 1em 0;
}

