/*--------------------------------------*\
	#Tools
\*--------------------------------------*/

.uninitialised .hide-uninitialised {
	display: none;
}

.uninitialised .hide-uninitialised.card {
	display: block;
	visibility: hidden;
}

/*--------------------------------------*\
	#Logo
\*--------------------------------------*/

.logo {
	width: 1em;
	margin-right: 0.2em;
	height: auto;
	float: left;
}

.logo__card-1 { fill:#2acaff; }
.logo__card-2 { fill:#ff762b; }
.logo__card-3 { fill:#0086b2; }


/*--------------------------------------*\
	#Estimations
\*--------------------------------------*/

/*
 * Remote users that haven't set their name yet
 */
.name--default {
	font-style: italic;
	color: #555;
}


.card {
	display: block;
	float: left;
    min-width: 2em;
    height: 3em;
    border: 0.2em solid #aaa;
    border-radius: 0.2em;
    background: #fefefe;
}

/*
 * Individual border colors for the different card values
 * (the hex value is a lazy uniform fallback, modern browsers will pick up
 * the hsl values).
 */
.card--0, .card--10 { border-color: #0086b2; border-color: hsl(195, 20%, 40%); }
.card--1, .card--11 { border-color: #0086b2; border-color: hsl( 21, 40%, 60%); }
.card--2, .card--12 { border-color: #0086b2; border-color: hsl(195, 60%, 40%); }
.card--3, .card--13 { border-color: #0086b2; border-color: hsl( 21, 80%, 60%); }
.card--4, .card--14 { border-color: #0086b2; border-color: hsl(195, 99%, 40%); }
.card--5, .card--15 { border-color: #0086b2; border-color: hsl( 21, 20%, 40%); }
.card--6, .card--16 { border-color: #0086b2; border-color: hsl(195, 40%, 60%); }
.card--7, .card--17 { border-color: #0086b2; border-color: hsl( 21, 60%, 40%); }
.card--8, .card--18 { border-color: #0086b2; border-color: hsl(195, 80%, 60%); }
.card--9, .card--19 { border-color: #0086b2; border-color: hsl( 21, 99%, 40%); }

.card__number {
    line-height: 2.6em;
	margin: 0 0.2em;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: bold;
}

/*
 * Different states that a card can be in:
 *   - unplayed: the user has not estimated a value yet
 *   - incomplete: the user has estimated, but other team members haven't
 *   - complete: all users have estimated
 */

.card--unplayed {
	visibility: hidden;
}

.estimations--incomplete .card {
    border-color: #DDD;
    background: #DDD;
}
.estimations--incomplete .card__number {
    display: none;
}

.estimations--incomplete .summary__card {
	visibility: hidden;
}

/*
 * Highlight the highest and lowest card (but not if they are equal)
 */

 .card__indicators
 {
     display: inline-block;
	 width: 2em;
	 line-height: 3em;
 }

.card__indicator
{
    color: #f00;
    font-weight: normal;
}

/*
 * Drop shadow for the cards
 * http://nicolasgallagher.com/css-drop-shadows-without-images/
 */

.card {
  position: relative;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.1em;
  left: 0.05em;
  width: 90%;
  height: 20%;
  max-width: 300px;
  box-shadow :0 0.35em 0.3em rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
}

.card:after{
  right: 0.05em;
  left: auto;
  transform: rotate(3deg);
}


/*--------------------------------------*\
	#EditableText
\*--------------------------------------*/

.et-display {
	cursor: pointer;
}

.et-label,
.et-hint {
	border-bottom: 1px dotted #333;
}

.et-label:hover,
.et-hint:hover {
	background-color: #f5f5f5;
}

.et-form .btn {
	background-color: #0086b2;
}


/*--------------------------------------*\
	#EstimationSelect
\*--------------------------------------*/

.estimation-select .active {
	color: #fff;
	background-color: #0086B2;
}

.local-user .username {
	margin-right: 1em;
	display: inline-block;
}

.local-user .username,
.local-user .btn {
	margin-bottom: 0.4em;
}

.story-title .et-form {
	display: block;
}

.story-title .et-form input {
	width: 80%;
}

.is-watcher-label {
	font-weight: normal;
}


/*--------------------------------------*\
	#Alerts
\*--------------------------------------*/

.alert {
	margin-bottom: 0;
	padding: 5px;
	border-radius: 0 0 4px 4px;
}

/*--------------------------------------*\
	#Actions
\*--------------------------------------*/

.actions {
	margin: 10px 0;
}

/*--------------------------------------*\
	#Tutorial
\*--------------------------------------*/

.tutorial {
	display: none;
}

.alone .tutorial {
	display: block;
}

.tutorial a {
	color: #333;
}

.tutorial__qrcode {
	margin: 1em 0;
}

/*--------------------------------------*\
	#Sharing
\*--------------------------------------*/

.sharing,
.sharing .btn {
	color: #888;
}

.alone .sharing,
.alone .sharing .btn {
	color: inherit;
}
