.estimation {
	width: 2em;
	display: inline-block;
	border-radius: 2px;
	padding: 2px 4px;
}

.max {
	background-color: #69f;
}

.min {
	background-color: #99f;
}

.max.min {
	background-color: transparent;
}

/*
 * While the team's estimation is incomplete, the estimation
 * values are completely hidden by default
 */
.incomplete .estimation {
	color: transparent;
}

/*
 * While the team's estimation is incomplete, received estimation
 * values are shown in an unreadably teaser style
 */
.incomplete .estimated {
	color: #666;
	background-color: #666;
}