.estimation {
	width: 2em;
	display: inline-block;
	border-radius: 2px;
	padding: 2px 4px;
}

.incomplete .estimation {
	color: #666;
	background-color: #666;
}

.max {
	background-color: #69f;
}

.min {
	background-color: #99f;
}

.max.min {
	background-color: transparent;
}
